.education-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto; /* Center align and add margin for spacing */
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education {
  margin-top: 20px;
  padding: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.education-title {
  font-size: 25px;
}

.education-description {
  font-size: 15px;
}

.education-header {
  font-size: 20px;
  margin-bottom: 10px;
}

.education-text {
  font-size: 13px;
  color: #666;
}

.education-section {
  margin-bottom: 20px;
}

.form-row {
  margin-bottom: 10px;
}

.form-col {
  margin-bottom: 10px;
}

.input-field {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.label {
  font-size: 10px;
  color: #333;
  margin-bottom: 5px;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: red;
  margin-left: 10px;
}

.add-course-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.add-course-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .education-container {
    padding: 20px;
    margin: 10px auto; /* Adjust margin for smaller screens */
  }

  .education {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .education-container {
    padding: 15px;
    margin: 5px auto; /* Further adjust margin for smaller screens */
  }

  .education {
    padding: 15px;
  }
}
