.footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 5px; 
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center; 
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  z-index: 10; 
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column; 
    padding: 5px; 
  }
}