.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: #f8f8f8;
  padding: 60px 20px;
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  max-width: 800px;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.profile-image {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-bottom: 10px;
  margin-left: 20px;
}

.profile-image img {
  width: 120px;
  height: 120px; /* Adjusted height for square proportion */
  border-radius: 50%;
  object-fit: cover; /* Maintain aspect ratio */
}

.prev-header-info {
  flex: 1;
  margin: 10px; /* Adjusted margin for the previous header info */
  text-align: center; /* Center text */
}


@media (max-width: 768px) {
  .prev-header-info {
    margin-top: 10px; /* Adjust top margin for smaller screens */
  }
}

.name {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 5px; /* Adjusted bottom margin */
}

.profession {
  color: #0f0101;
  margin-left: 25px;
  margin-top: 5px; /* Adjusted top margin */
}

@media (max-width: 768px) {
  .name {
    margin-bottom: 5px; /* Adjusted bottom margin for smaller screens */
  }

  .profession {
    margin-top: 5px; /* Adjusted top margin for smaller screens */
  }
}


.contact-info {
  text-align: right;
}

.address,
.city-state-zip,
.email,
.phone {
  margin: 0;
  font-size: 0.9em;
}

.profile-preview,
.education-preview,
.experience-preview,
.skills-preview {
  width: 100%;
  max-width: 800px;
  margin: 10px 0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.experience-preview span {
  font-weight: normal;
}

.section-header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
}

.skill {
  display: inline-block;
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 5px;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    margin-right: 0; /* Adjust margin for smaller screens */
    margin-bottom: 10px; /* Space below profile image */
  }

  .contact-info {
    text-align: center;
  }

  .profile-preview,
  .education-preview,
  .experience-preview,
  .skills-preview {
    margin: 10px 0;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .profile-preview,
  .education-preview,
  .experience-preview,
  .skills-preview {
    margin: 5px 0;
    padding: 10px;
  }
}
