.preview {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.profile-image {
  width: 150px;
}

.profile-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.basic-info-preview {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.basic-info-preview p {
  margin-bottom: 5px;
}

.profile-preview,
.education-preview,
.experience-preview,
.skills-preview {
  margin-bottom: 30px;
}


.profile-preview h2,
.education-preview h2,
.experience-preview h2,
.skills-preview h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-preview p,
.education-preview p,
.experience-preview p,
.skills-preview li {
  margin-bottom: 5px;
}

.education-item-preview,
.experience-item-preview {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.education-item-preview h3,
.experience-item-preview h3 {
  margin-top: 0;
}
