.profile-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff
}

.profile-container h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.profile-container p {
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.profile-container textarea {
  width: 100%;
  height: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.5em;
  resize: vertical;
  box-sizing: border-box;
}

.profile-container textarea::placeholder {
  color: #aaa;
}

.profile-container textarea:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 86, 179, 0.5);
}
