.skills-holder {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /
}

.skills-container{
  border: 1px solid #e0e0e0;
  padding: 10px;
  border-radius: 5px;
}

.skills-h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.skills-description {
  margin-bottom: 20px;
  color: #666;
}

.form-group {
  margin-bottom: 15px;
}

.skills-row {
  display: flex;
  align-items: center;
}

.skills-col-8 {
  flex: 1;
}

.skills-col-2 {
  flex: 2;
}

.input-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.skill-input {
  width: 200px; 
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px; 
}

.form-label {
  margin-left: 5px;
}

.delete-button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 3px;
}

.add-skill-button {
  background-color: #1eb909;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; 
}

.new-skill-input {
  width: 200px;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-skill-button:hover,
.delete-button:hover {
  opacity: 0.8;
}
