* {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
  box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
